[Unit]
Description=flannel daemon

After=etcd.service

[Service]
ExecStartPre=/bin/etcdctl set /coreos.com/network/config '{ "Network": "10.1.0.0/16" }'
ExecStart=/bin/flanneld
Restart=always
RestartSec=10s