[Unit]
Description=fleet daemon

After=etcd.service

Wants=fleet.socket
After=fleet.socket

[Service]
ExecStart=/bin/fleetd --config /etc/fleet.conf
Restart=always
RestartSec=10s