{
    "bootstrap_expect": {{ groups.swarm|length }},
    "server": true,
    "datacenter": "us-west-2",
    "data_dir": "/var/consul",
    "advertise_addr": "{{ansible_eth0.ipv4.address}}",
    "ports": {
        "dns": 53
    },
    "addresses": {
        "dns": "{{ansible_eth0.ipv4.address}}"
    },
    "retry_join": [ "{{ hostvars[groups.swarm[(groups.swarm.index(inventory_hostname) + 1) % groups.swarm|length ]].ansible_eth0.ipv4.address }}" ]
}
