[Unit]
Description=etcd agent
Requires=network-online.target
After=network-online.target

[Service]
Environment=ETCD_NAME={{inventory_hostname}}
Environment=ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
Environment=ETCD_ADVERTISE_CLIENT_URLS=http://{{inventory_hostname}}:2379
Environment=ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380

Environment=ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{inventory_hostname}}:2380

{% set comma = joiner(",") %}
Environment=ETCD_INITIAL_CLUSTER={% for item in groups.control %}{{ comma() }}{{item}}=http://{{item}}:2380{% endfor %}


Restart=on-failure
ExecStart=/bin/etcd --initial-cluster-state new
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target