Unit]
Description=swarm agent
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/docker run --rm swarm join --addr={{inventory_hostname}}:2375 consul://{{inventory_hostname}}:8500/nodes
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target