[Unit]
Description=swarm agent
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/docker run --rm -p 4000:4000 swarm manage -H :4000 --replication --advertise {{inventory_hostname}}:4000 consul://{{inventory_hostname}}:8500/nodes
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target